body{
    font-family: Segoe UI;
}

.wrapper{
    position: relative;
    margin: 0;
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
    @include m-laptop{
        width: 1024px;
    }
    @include m-tablet{
        width: 768px;
    }
    @include m-phone{
        width: 375px;
        margin: 0;
    }
}

.section{
    width: 100%;
    position: relative;
    margin: 0 auto;
}
.container{
    position: relative;
    width: 100%;
    padding: 0 25px;
    @include m-phone{
        padding: 0 10px;
    }
}

.main{
    margin: 0 auto;
    width: 100%;
}

.ico{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.title{
    font-weight: normal;
    font-size: 115px;
    line-height: 120px;
    color: #fff;
    text-align: center;
    @include m-tablet{
        font-size: 60px;
        line-height: 60px;
    }
    @include m-phone{
        font-size: 22px;
        line-height: 20px;
    }
}

.text{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #0B0B0B;
}

.block{
    display: block;
}

.block-title{
    font-weight: normal;
    font-size: 110px;
    line-height: 154px;
    color: #fff;
    @include m-laptop{
        font-size: 60px;
    }
    @include m-phone{
        font-size: 22px;
    }
}

.block-subtitle{
    font-weight: normal;
    font-size: 40px;
    line-height: 44px;
    color: #fff;
    @include m-phone{
        font-size: 20px;
        line-height: 20px;
    }
}

.block-text{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    @include m-phone{
        font-size: 18px;
        line-height: 18px;
    }
}

.block-link{
    width: 145px;
    height: 35px;
    background-color: #0B0B0B;
    border-radius: 9999px;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0B0B0B;
    &:hover{
        border: 1px solid red;
        transition: 0.4s ease-in-out;
    }
    @include m-phone{
        width: 200px;
        height: 50px;
    }
}

.bg-blue{
    background-color: #4A00FF;
}
.bg-green{
    background-color: #00FF9D;
}

.bg-orange{
    background-color: #FF8B00;
}

.reverse{
    flex-direction: row-reverse;
}

.colourBlack{
    color: #0B0B0B;
}

.info-section{
    position: absolute;
    width: 1280px;
    top: 0;
    right: 50%;
    transform: translateX(50%);
    display: flex;
    height: 740px;
    @include m-laptop{
        width: 1024px;
    }
    @include m-tablet{
        width: 768px;
        height: 500px;
    }
    @include m-phone{
        width: 375px;
        height: 500px;
        flex-direction: column-reverse;

    }
    &__content{
        width: 50%;
        padding: 222px 112px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include m-laptop{
            padding: 100px 60px;
        }
        @include m-tablet{
            padding: 50px 30px;
        }
        @include m-phone{
            width: 100%;
            height: 400px;
        }
    }
    &__logo{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        @include m-phone{
            width: 100%;
            height: 100px;
        }
    }
}

.column-direction{
    @include m-phone{
        flex-direction: column;
    }
}

.link{
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1.04px;
    line-height: 13px;
    color: #fff;
    text-decoration: none;
}

.link-hover{
    &:hover{
        border-bottom: 1px solid white;
    }
}